/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";


.navbar-right button {
  height: 30px;
  margin-top: 10px;
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.navbar-fix {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 0px;
}

.chef-bg {
  height: 400px;
  background-image: url("https://res.cloudinary.com/dldvsrho8/image/upload/v1467239803/chefstablemain2_yzp72y.jpg");
  background-size: cover;
  background-position: 50% 25%;
  margin-top: 0px;
  padding-top: 0px;
}

.login-form-box{
  font-weight: bold;
  text-align: center;
}

#loginmodal {
  height: 100%;
}

#restaurant-dropdown {
  align-items: stretch;
  // height: 500px;
  position: relative;
}

.flexboxeverything {
  display: flex;
  flex-direction: column;
}

.restaurant-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dropdown-menu {
    display: none;
  }

}

// .dropdown-toggle {
//   display: block;
// }

.open .dropdown-menu {
  width: 100%;
  display: flex;
}
