@import "bootstrap-sprockets";
@import "bootstrap";

.map {
  width: 50vw;
  height: calc(50vh - 100px);
  box-shadow: 0 1px 2px #444444;
  border-right: none;
  border-top: none;
}

.flexbox-everything {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.body {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.body-main {
  display: flex;
  width: 100vw;
}

.body-left {
  display: flex;
  flex: 1;
  overflow: auto;
  height: calc(100vh - 240px)
}

.body-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.map {
  flex: 0 0 auto;
}

.restaurant-of-week {
  display: flex;
  flex: 1;
  justify-content: center;
}

.row-show {
  color: #F8F8F8;
  display: flex;
  flex-direction: column;
}

#row-show-pic {
  align-self: center;
  background: none;
  width: 150px;
  border-radius: 10px;
}

.row-show-header {
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 35px;
  padding-top: 5px;
}

.restaurant-index-and-search {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.footer {
  flex: 0 0 auto;
}

.chef-bg {
  height: 150px;
  background-image: url("https://res.cloudinary.com/dldvsrho8/image/upload/c_scale,q_47,w_2751/v1467239803/chefstablemain2_yzp72y.jpg");
  background-size: cover;
  background-position: 50% 27%;
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  display: flex;
  align-items: center;
}

#greeting {
  margin: 0 auto;
}

.site-marketing-text {
  color: white;
  font-family: 'Montserrat';
  font-weight: lighter;
  padding-bottom: 10px;
}

.site-title-text {
  font-weight: bolder;
  font-family: 'Bad Script', cursive;
  font-size: 30px;
  padding-top: 10px;
  color: white;
  margin-top: 5px;
}

.header-text {
  opacity: 1;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  height: 90px;
  width: 100%;
  top: 85px;
}

.header-button-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  align-items: center;
}

#restaurant-searchbar {
  width: 500px;
  min-width: 500px;
  z-index: 10;
  position: absolute;
  transform: translateY(-80%);
}

.restaurant-name-header {
  color: white;
  font-family: 'Verdana', cursive;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  padding: 7px;
  border-radius: 4px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: gray;
    cursor: pointer;
  }
}

.restaurant-details-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 200px;
  border: 3px groove gray;
}

.footer-column {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 0 5px;
}

.connect-row {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
  padding: 0px;
  height: 40px;
  list-style: none;
  margin: 0;
 }

 #icon {
   width: 35px;
   height: 35px;
 }

 p {
   margin: 0;
 }

 .restaurant-show-page {
   justify-content: center;
   display: flex;
   flex-direction: column;
 }

 .show-page-scroll {
   overflow-y: auto;
 }

 .restaurant-show-page-details {
   display: flex;
   flex-direction: column;
   list-style: none;
 }
 .restaurant-show-page-details img {
   text-align: left;
 }

 .restaurant-show-page-details .fancy-span, pre .fancy-span {
   font-weight: bolder;
   font-family: 'Bad Script', cursive;
   font-size: 30px;
   color: black;
 }

 .nearly-fancy-span {
   font-weight: lighter;
   font-family: 'Montserrat';
   font-size: 20px;
   color: black;
 }

 .restaurant-show-page-details {
   li {
     height: 50px;
     font-size: 20px;
   }
   justify-content: center;
 }

 .chef-pic {
   margin-right: 15px;
   border-radius: 10px;
   border: 2px solid black;
   height: 150px;
   width: 150px;
 }


 .restaurant-review-section {
   margin-top: 25px;
   padding-bottom: 35px;
   border-top: 2.5px solid #36454f;
 }

 .restaurant-review-section h2 {
   text-align: center;
   font-weight: bolder;
   font-family: 'Bad Script', cursive;
   font-size: 45px;
   padding-top: 15px;
   padding-bottom: 10px;
 }

 .restaurant-review-section pre {
   font-family: 'Montserrat';
   font-size: 14px;
   font-weight: 300;
   padding-left: 15px;
   padding-right: 15px;
   width: 90%;
   margin: 0 auto;
   word-wrap: normal;
   word-break: break-word;
   overflow-x: auto;
   min-height: 150px;
   margin-top: 15px;
   margin-bottom: 15px;
   white-space: pre-wrap;
 }

 .restaurant-pics-index {
   display: flex;
   flex-flow: row wrap;
   width: 83%;
   margin: 0 auto;
   padding-top: 35px;
 }

 .restaurant-detail-pic {
   margin: 5px;
   border-radius: 5px;
   transition: all .2s ease-in-out;
   &:hover { transform: scale(1.75); }
 }

 .restaurant-detail-bar {
   display: flex;
   justify-content: center;
   width: 95%;
   margin: 0 auto;
   border-bottom: 2.5px solid #36454f;
   margin-top: 25px;
   padding-bottom: 35px;
 }

 .restaurant-bg {
   height: 400px;
   background-size: cover;
   background-position: 50% 25%;
   margin-top: 0px;
   padding-top: 0px;
   position: relative;
   align-content: center;
   margin-top: 5px;
 }

 .restaurant-detail-bar img {
   border-radius: 5px;
 }

.navbar-brand {
  font-weight: bolder;
  font-family: 'Bad Script', cursive;
  font-size: 28px;
  margin-bottom: 5px;
}

 #loginmodal {
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 2px #444444;
}


ul#view-edit-tab-selector {
  border-bottom: 2px solid black;
  cursor: pointer;
  font-size: large;
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 0px 12px;
  width: 100%;
  li {
    float: left;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    outline: none;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
  }
}

.reservation-details-edit {
  list-style: none;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 0px;
  border-top: none;
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  input {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    height: 40px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.single-reservation-view{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  font-size: 16px;
  li {
    padding-right: 10px;
  }
}

.restaurant-reserve-pics{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  img {
    margin: 5px;
    border-radius: 5px;
    opacity: .8;
  }
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
}

.error-list {
  list-style: none;
  color: red;
  text-align: left;
  padding-left: 0;
}

.login-form-container {
  width: 400px;
  height: 500px;
  overflow-y: hidden;
}
//
//
// .navbar-right button {
//   height: 30px;
//   margin-top: 5px !important;
//   margin-right: 15px;
//   margin-left: 2.5px;
//   color: floralwhite;
//   border: none;
// }
//
// .navbar-fix {
//   margin-bottom: 0px;
//   padding-bottom: 0px;
//   height: 0px;
//   border-radius: none;
// }
//
//
// .transparant-navbar {
//   position: fixed;
//   background-image: inherit;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   z-index: 100;
// }
//
// #content {
//   position: relative;
// }
//
// #footer {
//  position: absolute;
//  background-color: rgb(246, 246, 246);
//  bottom: 0;
//  width: 100%;
//  border: none;
//  box-shadow: 1px 1px 5px black;
// }
//
// #homepage{
//  position: fixed;
//  background-color: rgb(246, 246, 246);
//  bottom: 0;
//  width: 100%;
//  height: 50px !important;
//  border: none;
//  display: flex;
//  box-shadow: 1px 1px 5px black;
// }
// //
// .footer-column {
//  display: inline-flex;
//  align-items: center;
//  width: 100%;
//  justify-content: space-between;
//  .heading {
//    font-size: 18px
//  }
//  .by-dc {
//    left: 0;
//    font-size: 18px;
//    font-weight: bold;
//  }
//
//
// }

//

//
// .no-search-results {
//   font-family: 'Bad Script', cursive;
//   text-align: center;
//   font-weight: bolder;
// }
//
//
//
// .login-form-box {
//   font-weight: bold;
//   text-align: center;
// }
//
// .login-form {
//   font-size: 20px;
//   button {
//     margin: 10px;
//   }
//   input {
//     border-radius: 5px;
//   }
// }
//
// .please-login-signup {
//   font-size: 16px;
// }
//
// .welcome-to {
//   font-weight: bolder;
//   font-family: 'Bad Script', cursive;
//   font-size: 34px;
// }
//

//
// #reservation-modal {
//   border-radius: 5px;
//   box-shadow: 0 1px 2px #444444;
//   font-weight: bold;
// }
//
// .your-reservation-at {
//   color: black;
//   font-weight: bolder;
//   font-family: 'Bad Script', cursive;
// }
//
.finalized-reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  button {
    margin: 0 auto !important;
    margin-top: 50px !important;
  }
  h3 {
    font-weight: bolder;
    font-family: 'Bad Script', cursive;
    margin-bottom: 25px;
  }
}
//

//

//
// #restaurant-dropdown {
//   align-items: stretch;
//   position: relative;
//   border-radius: 5px;
// }
//
// #reserve-finalize-button {
//   border-radius: 4px;
//   height: 37px;
//   background-color: rgba(0, 0, 0, 0.6);
//   font-weight: bold;
//   &:hover {
//     background-color: rgba(0, 0, 0, 0.9);
//   }
// }
//
// .btn-sm {
//   color: white;
//   border: none;
//   opacity: .9;
//   height: 40px;
//   font-size: 16px;
// }
//
//

//
// #restaurant-filter {
//   width: 300px;
// }
//
//
// .flexboxeverything {
//   display: flex;
//   background-color: #edefed;
//   flex-direction: column;
// }
//
// .restaurant-details {
//   border: 1.5px solid #36454f;
//   border-top: 0;
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-size: cover;
//
//   .dropdown-menu {
//     display: none;
//     background-color: #edefed;
//   }
//   li {
//     list-style: none;
//   }
//   img {
//     opacity: .9;
//   }
//
//   ul {
//     padding-left: 0px;
//   }
// }
//
//
// .restaurant-details-div {
//   width: 100%;
//   box-sizing: border-box;
//   padding: 15px;
//   padding-top: 0px;
// }
//

//

//
//

//

//
// #view-edit-tab-selector{
//
// }
//

//
//
// .reservation-finalize-form-errors {
//   color: red;
// }
//
// .reservation-finalize-form {
//   form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//   }
//   input {
//     margin: 7.5px;
//     height: 40px;
//     width: auto;
//     border: 1px solid black;
//     border-radius: 5px;
//   }
//   .btn-sm {
//     background-color: rgba(0, 0, 0, 0.6);
//     &:hover {
//       background-color: rgba(0, 0, 0, 0.9);
//     }
//   }
// }
//
// .not-signed-in-reservation {
//   max-width: 750px;
//   font-weight: bolder;
//   font-size: 30px;
//   text-align: center;
//   margin-top: 140px;
//   font-weight: bolder;
//   font-family: 'Bad Script', cursive;
// }
//
// .not-signed-in-buttons {
//   margin: 0 auto;
//   text-align: center;
//   margin-top: 25px;
// }
//
// .detail-booking-section {
//   border-radius: 5px;
//   margin: 3px;
//   width: 100%;
//   align-items: center;
//   text-align: center;
// }
//
//
//
// .restaurant-box-group {
//   display: inline-flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   border-radius: 5px;
//   width: 100%;
// }
//
// .restaurant-booking-calender {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 100%;
//   .btn {
//     height: 28px;
//   }
// }
//
// .dropdown-food-pic {
//   width: 25%;
//   display: inline-flex;
//   padding: 2px;
//   border-radius: 5px;
// }
//
// .main-restaurant-food-pic {
//   margin: 5px;
//   width: 30%;
//   height: 30%;
//   border-radius: 5px;
// }
//
// .restaurant-all-details {
//   text-align: center;
//   border-radius: 5px;
//   background-color: rgba(0, 0, 0, 0.65);;
//   display: inline-block;
//   margin-bottom: 5px;
//   padding: 3px;
//   color: white;
//   font-weight: bold;
// }
//
// .title-reviewsmore-div {
//   text-align: center;
//   border-radius: 5px;
// }
//
//
//
// .dropdown-toggle {
//   margin: 2.5px;
//   border: 1px solid #36454f;
// }
//
//
// .reservation-entry-details {
//   width: 150px;
//   background-color: #edefed;
//   border-radius: 5px;
//   padding-left: 5px;
// }
//
// .restaurant-index {
//   float:left;
//   position: absolute;
//   top: 0;
//   left: 0;
//   min-width: 660px;
//   width: 50vw;
//   height: 665px;
//   box-shadow: 0 1px 2px #444444;
//   overflow-y: scroll;
//   background-color: #edefed;
//   padding-bottom: 1px;
//   margin-bottom: 50px
// }
//
// .restaurant-index-and-search {
//   position: relative;
// }
//
// .reservation-modal {
//     box-shadow: 0 1px 2px #444444;
//     background-color: #edefed;
// }
//
// .map-details-combo {
//   display: inline-flex;
// }

.ReactModal__Content.ReactModal__Content--after-open {
    background-color: #edefed;
}

button {
  margin: 5px;
}



//////////THE CALENDER IS BELOW//////

.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
  padding-right: 15px;
  padding-bottom: 10px;
  display: flex;
}

.input-calendar-wrapper {
  position: absolute;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color:  #edefed;
  text-align: center;
  left: 140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 17;
}

.input-calendar .input-calendar-field {
  width: 175px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 0px;
  height: 36.5px;
  padding-left: 10px;
  text-align: center;
}

.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}

.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 37px;
  line-height: 37px;
  transform: translateY(4px);
  cursor: pointer;
}

.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}

.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}div

.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.input-calendar .day.prev,
.input-calendar .day.next {.title-reviewsmore-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  opacity: .4;
}

.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}

.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}

.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.input-calendar .years-view .navigation-title {
  cursor: default;
}

.input-calendar .years-view .navigation-title:hover {
  color: #000;
}

.input-calendar .navigation-title:hover {
  color: #f39c12;
}

.input-calendar .icon-wrapper {
  cursor: pointer;
  height: 37px;
}

.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}

.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}

.input-calendar .today-btn {
  cursor: pointer;
}

.input-calendar .cell.day.today {
  position: relative;
}

.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color: #F39C12;
}


body {
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

header h2 {
  text-align: center;
  margin: 30px auto;
}

pre {
  background: #f7f7f7;
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

pre code {
  line-height: 20px;
}

.result {
  padding: 8px 0;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 220px;
}


.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
